 #wrapper {
	text-align: center;
	font-family: 'Raleway';
}

.button {
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
	color: black;
	transition: 0.2s;
	cursor: pointer;
	&:hover {
		background-color: hsla(0, 0%, 0%, 0.7);
		color: aliceblue;
	}
	&:active {
		background-color: black;
	}
}

.active-button {
	@extend .button;
	background-color: black;
	color: aliceblue;
}


#header {
	h1 {
		display: inline-block;
	}
	#menu {
		position: relative;
		left: 10%;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
	}
}

#poll-wrapper {
	display: inline-block;
	position: relative;
	width: 1200px;
}

#poll-list {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	display: inline-block;
	right: 0;
	transition: all 0.5s ease;
	.selected {
		background-color: black;
		color: aliceblue;
	}
	.poll {
		margin: 0 auto;
		width: 100px;
		padding: 20px;
		margin-bottom: 5px;
		border: 1px solid black;
		transition: 0.2s;
		cursor: pointer;
		&:hover {
			background-color: hsla(0, 0%, 0%, 0.7);
			color: aliceblue;
		}
		&:active {
			background-color: black;
		}
	}
}

#poll-list.show-details {
	//right: 360px;
}

.poll-details {
	position: relative;
	display: inline-block;
	vertical-align: top;
	top: 50px;
	height: 653px;
	border: 1px solid black;
	animation-duration: 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	animation-name: stretch;
	#details-question {
		font-weight: bold;
		font-size: 30px;
		margin-bottom: 20px;
	}
	select {
		font-family: 'Raleway';
		font-size: 14px;
		height: 30px;
		width: 200px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 5px;
		margin-bottom: 20px;
	}
	#vote-button {
		display: inline-block;
	}
	#user-choice {
		font-family: 'Raleway';
		font-size: 14px;
		display: block;
		margin: 0px auto 15px;
		position: relative;
		right: 27px;
		border-radius: 5px;
		border: 1px solid hsla(0, 0%, 45%, 0.9);
		padding: 4px;
	}
}

.breadcrumb {
	display: inline-block;
	margin-top: 20px;
	background-color: hsla(0, 0%, 0%, 0.6);
	color: aliceblue;
	font-style: 'Raleway';
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s;
}

@keyframes stretch {
	from {
		opacity: 0;
		width: 0px;
	}
	to {
		opacity: 1;
		width: 800px;
	}
}

#new-poll {
	#new-choices {
		margin-bottom: 20px;
	}
}